@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  overflow-x: hidden;
  text-align: center;
}
body h1,
body h2 {
  font-family: Overpass;
  font-weight: lighter;
}
body h1.main,
body h2.main {
  font-size: 30px;
  margin: 405x 0;
}
@media screen and (min-width: 1040px) {
  body h2:not(.main),
body p:not(.hero p) {
    text-align: left;
  }
}
body p {
  line-height: 28px;
  font-family: Overpass;
  font-weight: 300;
}
body .img-scale {
  overflow-x: hidden;
}
body .img-scale img {
  transform: scale(1.2);
  margin: 50px 0;
}
body img {
  max-width: 100%;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.container:not(.hero .container) {
  margin: 141px auto;
}
@media screen and (min-width: 1040px) {
  .container .section-layout {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .container .section-layout.reverse {
    flex-direction: row;
    height: 86vh;
    align-items: center;
  }
}
@media screen and (min-width: 1040px) {
  .container .section-layout .multi-container {
    flex-basis: 50%;
  }
}
.container .section-layout .multi-container div {
  margin-bottom: 53px;
}

.hero {
  color: white;
  background: url("./assets/bg-pattern-intro-mobile.svg") left, linear-gradient(-202deg, #ff8f71 40%, #ff3e55);
  background-position: -341px -259px, 0px;
  height: 87vh;
  position: relative;
  border-bottom-left-radius: 91px;
  margin-bottom: 90px;
}
.hero .container .content {
  margin: 10vh 0 0;
}
@media screen and (orientation: landscape) and (max-height: 390px) {
  .hero .container .content {
    margin: -13vh 0 0 !important;
  }
}
@media screen and (min-width: 380px) {
  .hero .container .content {
    margin: 19vh 0 0;
  }
}
.hero .container .content .actions {
  margin: 32px 0;
}
.hero .container .content .actions button {
  cursor: pointer;
}
.hero h1 {
  width: 90%;
  margin: auto;
}
.hero header {
  padding: 30px 0;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Overpass;
}
.hero header .logo {
  cursor: pointer;
}
@media screen and (min-width: 1040px) {
  .hero header {
    justify-content: flex-start;
  }
}
.hero header nav {
  display: none;
}
@media screen and (max-width: 739px) {
  .hero header nav[open] {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 20px;
    flex-direction: column;
    z-index: 1;
    background: white;
    border-radius: 5px;
    width: 87vw;
    max-width: 254px;
    position: absolute;
    right: 19px;
    top: 116px;
  }
  .hero header nav[open] .pages {
    display: flex;
    width: 100%;
  }
  .hero header nav[open] .pages span {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  .hero header nav[open] .pages span .dropdown {
    opacity: 0;
    height: auto;
    color: transparent;
    transition: opacity 0.5s, margin 0.5s, height 0.5s;
    display: flex;
    flex-direction: column;
    left: 60%;
    top: 45px;
    align-items: flex-start;
    padding: 10px 0;
    background: #eeeef0;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    display: none;
  }
  .hero header nav[open] .pages span .dropdown[open] {
    display: flex;
    margin: 20px 0 0;
    color: black;
    animation: fade 0.5s ease;
    border: none;
    opacity: 1 !important;
  }
  .hero header nav[open] .pages span .dropdown a {
    color: black;
    line-height: 30px;
  }
  .hero header nav[open] .pages span .dropdown a::after {
    display: none;
  }
  .hero header nav[open] .pages a {
    color: black;
    filter: grayscale(0.5);
    margin: 0 20px;
    text-decoration: none;
    filter: contrast(0.7);
  }
  .hero header nav[open] .pages a::after {
    transform-origin: center;
    transition: all 0.5s;
    content: "";
    width: 10px;
    height: 20px;
    background: url("./assets/icon-arrow-dark.svg") no-repeat;
    background-position: 0px 7px;
    position: absolute;
    right: -18px;
  }
  .hero header nav[open] .pages a:focus::after {
    transform: rotate(-180deg);
  }
  .hero header nav[open] .auth {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero header nav[open] .auth button {
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    color: black;
  }
  .hero header nav[open] .auth button.signup {
    background: transparent;
  }
}
@media screen and (max-width: 739px) and (min-width: 380px) {
  .hero header nav[open] .auth button {
    margin: 0 5px;
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button.signup {
    color: white;
    font-weight: bold;
    background: linear-gradient(-172deg, #ff8f71, #ff3e55);
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button.active {
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    color: #ff6462;
    background-color: white;
    color: black;
  }
  .hero header nav[open] .auth button.active.signup {
    background: transparent;
  }
}
@media screen and (max-width: 739px) and (min-width: 380px) {
  .hero header nav[open] .auth button.active {
    margin: 0 5px;
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button.active:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button.active:hover {
    background-color: #ff7b86;
    color: white;
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .auth button.active.signup {
    color: white;
    font-weight: bold;
    background: linear-gradient(-172deg, #ff8f71, #ff3e55);
  }
}
@media screen and (max-width: 739px) {
  .hero header nav[open] .pages {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 20px;
  }
  .hero header nav .pages {
    display: flex;
    width: 100%;
  }
  .hero header nav .pages span {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
    width: initial;
  }
  .hero header nav .pages span .dropdown {
    opacity: 0;
    height: auto;
    color: transparent;
    transition: opacity 0.5s, margin 0.5s, height 0.5s;
    display: flex;
    flex-direction: column;
    left: 60%;
    top: 45px;
    align-items: flex-start;
    padding: 10px 0;
    background: #eeeef0;
    width: 100%;
    border-radius: 5px;
    margin: 0;
    display: none;
    display: flex;
    margin: 20px 0;
    width: fit-content;
    margin: 0;
    transform: translateX(-50%);
    position: absolute;
  }
  .hero header nav .pages span .dropdown[open] {
    display: flex;
    margin: 20px 0 0;
    box-shadow: 0px 20px 40px #00000031;
    background: white;
    color: black;
    animation: fade 0.5s ease;
    border: none;
    opacity: 1 !important;
  }
  .hero header nav .pages span .dropdown a {
    color: black;
    line-height: 30px;
  }
  .hero header nav .pages span .dropdown a::after {
    display: none;
  }
  .hero header nav .pages a {
    color: black;
    color: white;
    filter: grayscale(0.5);
    margin: 0 20px;
    text-decoration: none;
    filter: contrast(0.7);
  }
  .hero header nav .pages a:hover {
    filter: contrast(1);
  }
  .hero header nav .pages a::after {
    transform-origin: center;
    transition: all 0.5s;
    content: "";
    width: 10px;
    height: 20px;
    background: url("./assets/icon-arrow-dark.svg") no-repeat;
    background-position: 0px 7px;
    position: absolute;
    right: -18px;
  }
  .hero header nav .pages a:focus {
    filter: contrast(1);
    text-decoration: underline;
  }
  .hero header nav .pages a:focus::after {
    transform: rotate(-180deg);
  }
  .hero header nav .auth {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    border-top: none;
    width: initial;
  }
  .hero header nav .auth button {
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    color: black;
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  .hero header nav .auth button.signup {
    background: transparent;
  }
}
@media screen and (min-width: 740px) and (min-width: 380px) {
  .hero header nav .auth button {
    margin: 0 5px;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.signup {
    color: white;
    font-weight: bold;
    background: linear-gradient(-172deg, #ff8f71, #ff3e55);
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active {
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    color: #ff6462;
    background-color: white;
    color: black;
  }
  .hero header nav .auth button.active.signup {
    background: transparent;
  }
}
@media screen and (min-width: 740px) and (min-width: 380px) {
  .hero header nav .auth button.active {
    margin: 0 5px;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active:hover {
    background-color: #ff7b86;
    color: white;
    border: 1px solid transparent;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active.signup {
    color: white;
    font-weight: bold;
    background: linear-gradient(-172deg, #ff8f71, #ff3e55);
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.signup {
    background: transparent;
  }
}
@media screen and (min-width: 740px) and (min-width: 380px) {
  .hero header nav .auth button {
    margin: 0 5px;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active {
    font-family: Overpass;
    width: 125px;
    border-radius: 500px;
    border: 1px solid white;
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    color: #ff6462;
    background-color: white;
  }
  .hero header nav .auth button.active.signup {
    background: transparent;
  }
}
@media screen and (min-width: 740px) and (min-width: 380px) {
  .hero header nav .auth button.active {
    margin: 0 5px;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active:hover {
    color: #ff6462;
    background-color: white;
  }
}
@media screen and (min-width: 740px) {
  .hero header nav .auth button.active:hover {
    background-color: #ff7b86;
    color: white;
    border: 1px solid transparent;
  }
}
.hero header #hamburger {
  cursor: pointer;
}
@media screen and (min-width: 740px) {
  .hero header #hamburger {
    display: none;
  }
}
.hero .actions button {
  font-family: Overpass;
  width: 125px;
  border-radius: 500px;
  border: 1px solid white;
  padding: 13px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.hero .actions button.signup {
  background: transparent;
}
@media screen and (min-width: 380px) {
  .hero .actions button {
    margin: 0 5px;
  }
}
.hero .actions button:hover {
  color: #ff6462;
  background-color: white;
}
.hero .actions button.active {
  font-family: Overpass;
  width: 125px;
  border-radius: 500px;
  border: 1px solid white;
  padding: 13px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  color: #ff6462;
  background-color: white;
}
.hero .actions button.active.signup {
  background: transparent;
}
@media screen and (min-width: 380px) {
  .hero .actions button.active {
    margin: 0 5px;
  }
}
.hero .actions button.active:hover {
  color: #ff6462;
  background-color: white;
}
.hero .actions button.active:hover {
  background-color: #ff7b86;
  color: white;
  border: 1px solid transparent;
}

section {
  margin-top: 58px;
  position: relative;
}
section.one img[desktop] {
  display: none;
}
@media screen and (min-width: 1040px) {
  section.one img {
    transform: translate(-572px, -274px) scale(0.8);
    padding-left: 50px;
    position: absolute;
  }
  section.one img[desktop] {
    display: initial;
  }
  section.one img[mobile] {
    display: none;
  }
}
section.three img[desktop] {
  display: none;
}
@media screen and (min-width: 1040px) {
  section.three img {
    transform: translate(-572px, -274px) scale(0.8);
    transform: translate(-416px, -452px) scale(0.8);
    padding-left: 50px;
    position: absolute;
  }
  section.three img[desktop] {
    display: initial;
  }
  section.three img[mobile] {
    display: none;
  }
}
section.state-of-art {
  color: white;
  height: 90vh;
  margin-top: 240px;
  background: no-repeat url("./assets/bg-pattern-circles.svg"), linear-gradient(180deg, #3f4164, #2c2d3f);
  background-position: 50% 122%;
  border-bottom-left-radius: 91px;
  border-top-right-radius: 91px;
}
section.state-of-art h2 {
  font-size: 30px;
}
@media screen and (min-width: 1040px) {
  section.state-of-art {
    height: 49vh;
    margin-top: 256px;
  }
}
@media screen and (orientation: landscape) and (max-height: 390px) {
  section.state-of-art {
    height: 112vh;
  }
}
@media screen and (orientation: landscape) and (max-height: 390px) {
  section.state-of-art {
    background-position: 50% 97%;
  }
}
section.state-of-art .img-container {
  transform: translate(-50%, -37%);
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 1040px) {
  section.state-of-art .img-container {
    transform: translateY(10px);
    position: inherit;
  }
}
@media screen and (orientation: landscape) and (max-height: 390px) {
  section.state-of-art .img-container img {
    transform: translateY(-33px) scale(0.5);
  }
}
section.state-of-art .container {
  display: flex;
  align-items: center;
  height: 100%;
}
section.state-of-art .container .content {
  top: 39%;
  transform: translateY(86px);
}
@media screen and (min-width: 1040px) {
  section.state-of-art .container .content {
    position: inherit;
    transform: none;
    top: 55%;
    flex-basis: 100%;
  }
}

footer {
  background-color: #24242c;
  border-top-right-radius: 91px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  flex-direction: column;
}
@media screen and (min-width: 1040px) {
  footer {
    flex-direction: row;
    align-items: flex-start;
  }
}
footer img {
  margin: 0px 100px 60px;
}
footer nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 380px) {
  footer nav {
    align-items: flex-start;
    flex-direction: row;
  }
}
footer nav div {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}
footer nav div .page {
  margin-bottom: 33px;
  font-weight: bold;
}
footer nav a {
  font-family: Overpass;
  color: white;
  text-decoration: none;
  margin-bottom: 13px;
  margin: auto auto 13px;
  width: fit-content;
}

/*# sourceMappingURL=styles.css.map */
