$desktop: "screen and (min-width: 380px)";
$nav-limit: "screen and (min-width: 740px)";

$light-font: white;
$dark-font: #24242c;
$m: 20px;
$lh: 28px;
$br: 91px;
$pd: 20px;

$ff: Overpass;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

body {
    h1,
    h2 {
        font-family: $ff;
        font-weight: lighter;
    }
    text-align: center;
    p {
        line-height: $lh;
        font-family: $ff;
        font-weight: 300;
    }
    .img-scale {
        overflow-x: hidden;
        img {
            transform: scale(1.2);
            margin: 50px 0;
        }
    }
    img {
        max-width: 100%;
    }
}

.container {
    padding: 0 $pd;
    max-width: 1200px;
    margin: 0 auto;
    .multi-container {
        div {
            margin-bottom: 53px;
        }
    }
}

@mixin button($type: "default") {
    width: 125px;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255);
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    &:hover {
        color: #ff6462;
        background-color: white;
    }
    @if ($type == "active") {
        color: #ff6462;
        background-color: white;
        &:hover {
            background-color: #ff7b86;
            color: white;
            border: 1px solid transparent;
        }
    }
}

.hero {
    color: $light-font;
    background: url("./assets/bg-pattern-intro-mobile.svg") left,
        linear-gradient(-202deg, #ff8f71 40%, #ff3e55);
    background-position: -341px -259px, 0px;
    height: 87vh;
    position: relative;
    border-bottom-left-radius: $br;
    margin-bottom: 90px;
    .container {
        .content {
            margin: 10vh 0 0;
            @media #{$desktop} {
                margin: 19vh 0 0;
            }
            .actions {
                margin: 32px 0;
                button {
                    cursor: pointer;
                }
            }
        }
    }

    h1 {
        width: 90%;
        margin: auto;
    }
    header {
        padding: 30px 0;
        height: 107px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$nav-limit} {
            justify-content: flex-start;
        }
        nav {
            display: none;
            @media #{$nav-limit} {
                white-space: nowrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .pages {
                    a {
                        color: $light-font;
                        filter: grayscale(0.5);
                        margin: 0 $pd;
                        text-decoration: none;
                        filter: contrast(0.7);
                        &:hover {
                            filter: contrast(1);
                        }

                        &::after {
                            transform-origin: center;
                            transition: all 0.5s;
                            content: "";
                            width: 10px;
                            height: 20px;
                            background: url("./assets/icon-arrow-dark.svg")
                                no-repeat;
                            background-position: 0px 7px;
                            position: absolute;
                            right: -18px;
                        }

                        &:focus {
                            filter: contrast(1);
                            text-decoration: underline;
                            &::after {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }
        .hamburger {
            cursor: pointer;
            @media #{$nav-limit} {
                display: none;
            }
        }
    }
    button {
        @include button();
        &.active {
            @include button("active");
        }
    }
}

section {
    margin-top: 58px;
    position: relative;

    &.one {
        img {
        }
    }
    &.state-of-art {
        color: $light-font;
        height: 90vh;
        margin-top: 165px;
        @media #{$desktop} {
            margin-top: 256px;
        }
        background: no-repeat url("./assets/bg-pattern-circles.svg"),
            linear-gradient(180deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
        background-position: 50% 122%;
        border-bottom-left-radius: $br;
        border-top-right-radius: $br;
        .img-container {
            img {
            }
            transform: translate(-50%, -37%);
            position: absolute;
            margin: 0 auto;
            left: 50%;
            top: 0;
            width: 100%;
        }
        .container {
            display: flex;
            align-items: center;
            height: 100%;

            .content {
                // position: absolute;
                // top: 39%;
                transform: translateY(86px);
                @media #{$desktop} {
                    top: 55%;
                }
                // padding-right: $pd;
            }
        }
    }
}

footer {
    background-color: #24242c;
    border-top-right-radius: $br;
    padding-bottom: 50px;
    img {
        margin: 70px 0 60px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        div {
            margin-bottom: 23px;
            display: flex;
            flex-direction: column;
            .page {
                margin-bottom: 33px;
            }
        }
        a {
            font-family: $ff;
            color: $light-font;
            text-decoration: none;
            margin-bottom: 13px;
            margin: auto auto 13px;
            width: fit-content;
        }
    }
}
