$nav: 740;
$landscape: "screen and (orientation: landscape) and (max-height: 390px)";
$desktop: "screen and (min-width: 380px)";
$nav-limit: "screen and (min-width: #{$nav}px)";
$nav-below-limit: "screen and (max-width: #{$nav - 1}px)";
$shared-section-limit: "screen and (min-width: #{$nav + 300}px)";
// $shared-section-limit-plus: "screen and (min-width: #{$nav - 500}px)";

$largest: "screen and (min-width: 1040px)";

$light-font: white;
$dark-font: #24242c;
$m: 20px;
$lh: 28px;
$br: 91px;
$pd: 20px;

$ff: Overpass;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

body {
    // Not ideal to use overflow hidden here... I'd rather find out the root cause.. its the images..
    overflow-x: hidden;
    h1,
    h2 {
        font-family: $ff;
        font-weight: lighter;
    }
    text-align: center;
    @media #{$shared-section-limit} {
        h2:not(.main),
        p:not(.hero p) {
            text-align: left;
        }
    }
    p {
        line-height: $lh;
        font-family: $ff;
        font-weight: 300;
    }
    .img-scale {
        overflow-x: hidden;
        img {
            transform: scale(1.2);
            margin: 50px 0;
        }
    }
    img {
        max-width: 100%;
    }
}

.container {
    padding: 0 $pd;
    max-width: 1200px;
    margin: 0 auto;
    .section-layout {
        @media #{$shared-section-limit} {
            display: flex;
            flex-direction: row-reverse;
            &.reverse {
                flex-direction: row;
                height: 86vh;
                align-items: center;
            }
            justify-content: space-between;
        }
        .multi-container {
            @media #{$shared-section-limit} {
                flex-basis: 50%;
            }
            div {
                margin-bottom: 53px;
            }
        }
    }
}

@mixin button($type: "default", $modifier: "") {
    font-family: $ff;
    width: 125px;
    border-radius: 500px;
    border: 1px solid rgb(255, 255, 255);
    padding: 13px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    &.signup {
        background: transparent;
    }
    @media #{$desktop} {
        margin: 0 5px;
    }

    &:hover {
        color: #ff6462;
        background-color: white;
    }
    @if ($type == "active") {
        color: #ff6462;
        background-color: white;
        &:hover {
            background-color: #ff7b86;
            color: white;
            border: 1px solid transparent;
        }
    }
    @if ($modifier == "dropdown") {
        color: black;
        &.signup {
            color: white;
            font-weight: bold;
            background: linear-gradient(-172deg, #ff8f71, #ff3e55);
        }
    }
}

@mixin image-space($isReverse: false) {
    &[desktop] {
        display: none;
    }
    @media #{$shared-section-limit} {
        &[desktop] {
            display: initial;
        }
        &[mobile] {
            display: none;
        }
        transform: translate(-572px, -274px) scale(0.8);
        @if ($isReverse) {
            transform: translate(-416px, -452px) scale(0.8);
        }
        padding-left: 50px;
        position: absolute;
    }
}

@mixin nav-style($type: "mobile") {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 20px;

    .pages {
        display: flex;
        width: 100%;
        @if ($type == "desktop") {
            // align-items: center;
        }
        span {
            position: relative;
            width: 100%;
            @if ($type == "desktop") {
                width: initial;
            }
            .dropdown {
                opacity: 0;
                height: 0;
                color: transparent;
                transition: opacity 0.5s;
                display: flex;
                flex-direction: column;
                left: 60%;
                top: 45px;
                align-items: flex-start;
                padding: 10px 0;
                background: #eeeef0;
                width: 100%;

                @if ($type == "desktop") {
                    width: fit-content;
                    margin: 0;
                    transform: translateX(-50%);
                    position: absolute;
                }

                &[open] {
                    height: auto;
                    margin: 20px 0;
                    // background: white;
                    @if ($type == "desktop") {
                        box-shadow: 0px 20px 40px #00000031;
                        background: white;
                    }
                    color: black;
                    animation: fade 0.5s ease;

                    border: none;
                    border-radius: 5px;
                    opacity: 1 !important;
                }
                a {
                    color: black;
                    line-height: 30px;
                    &::after {
                        display: none;
                    }
                }
            }
        }

        a {
            color: black;
            @if ($type == "desktop") {
                color: $light-font;
            }
            filter: grayscale(0.5);
            margin: 0 $pd;
            text-decoration: none;
            filter: contrast(0.7);
            &:hover {
                @if ($type == "desktop") {
                    filter: contrast(1);
                }
            }

            &::after {
                transform-origin: center;
                transition: all 0.5s;
                content: "";
                width: 10px;
                height: 20px;
                background: url("./assets/icon-arrow-dark.svg") no-repeat;
                background-position: 0px 7px;
                position: absolute;
                right: -18px;
            }

            &:focus {
                @if ($type == "desktop") {
                    filter: contrast(1);
                    text-decoration: underline;
                }
                &::after {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .auth {
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0.247);

        display: flex;
        align-items: center;
        flex-direction: column;
        @if ($type == "desktop") {
            flex-direction: row;
            border-top: none;
            width: initial;
        }
        button {
            @include button("mobile", "dropdown");
            &.active {
                @include button("active", "dropdown");
            }
            @if ($type == "desktop") {
                @include button();
                &.active {
                    @include button("active", "desktop");
                }
            }
        }
    }
}

.hero {
    color: $light-font;
    background: url("./assets/bg-pattern-intro-mobile.svg") left,
        linear-gradient(-202deg, #ff8f71 40%, #ff3e55);
    background-position: -341px -259px, 0px;
    height: 87vh;
    position: relative;
    border-bottom-left-radius: $br;
    margin-bottom: 90px;
    .container {
        .content {
            margin: 10vh 0 0;
            @media #{$landscape} {
                margin: -13vh 0 0 !important;
            }
            @media #{$desktop} {
                margin: 19vh 0 0;
            }
            .actions {
                margin: 32px 0;
                button {
                    cursor: pointer;
                }
            }
        }
    }

    h1 {
        width: 90%;
        margin: auto;
    }
    header {
        padding: 30px 0;
        height: 107px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $ff;
        .logo {
            cursor: pointer;
        }
        @media #{$shared-section-limit} {
            justify-content: flex-start;
        }
        nav {
            display: none;
            @media #{$nav-below-limit} {
                &[open] {
                    @include nav-style("mobile");
                    // justify-content: center;
                    flex-direction: column;
                    z-index: 1;
                    background: white;
                    border-radius: 5px;
                    width: 87vw;
                    max-width: 254px;
                    position: absolute;
                    right: 19px;
                    top: 116px;
                    .pages {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            @media #{$nav-limit} {
                @include nav-style("desktop");
            }
        }
        #hamburger {
            cursor: pointer;
            @media #{$nav-limit} {
                display: none;
            }
        }
    }
    .actions {
        button {
            @include button();
            &.active {
                @include button("active");
            }
        }
    }
}

section {
    margin-top: 58px;
    position: relative;

    &.one {
        img {
            @include image-space();
        }
    }
    &.three {
        img {
            @include image-space(true);
        }
    }
    &.state-of-art {
        h2 {
            font-size: 30px;
        }
        color: $light-font;
        height: 90vh;
        margin-top: 240px;
        @media #{$shared-section-limit} {
            height: 49vh;
            margin-top: 256px;
        }
        @media #{$landscape} {
            height: 112vh;
        }

        background: no-repeat url("./assets/bg-pattern-circles.svg"),
            linear-gradient(180deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
        background-position: 50% 122%;
        @media #{$landscape} {
            background-position: 50% 97%;
        }

        border-bottom-left-radius: $br;
        border-top-right-radius: $br;
        .img-container {
            transform: translate(-50%, -37%);
            position: absolute;
            @media #{$shared-section-limit} {
                transform: translateY(10px);
                position: inherit;
            }

            margin: 0 auto;
            left: 50%;
            top: 0;
            width: 100%;
            img {
                @media #{$landscape} {
                    transform: translateY(-33px) scale(0.5);
                }
            }
        }
        .container {
            display: flex;
            align-items: center;
            height: 100%;

            .content {
                top: 39%;
                transform: translateY(86px);
                @media #{$shared-section-limit} {
                    position: inherit;
                    transform: none;
                    top: 55%;
                    flex-basis: 100%;
                }

                // padding-right: $pd;
            }
        }
    }
}

footer {
    background-color: #24242c;
    border-top-right-radius: $br;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    @media #{$shared-section-limit} {
        flex-direction: row;
        align-items: flex-start;
    }

    img {
        margin: 0px 100px 60px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        @media #{$desktop} {
            align-items: flex-start;
            flex-direction: row;
        }

        div {
            // width: 190px;
            margin-bottom: 23px;
            display: flex;
            // justify-content: space-around;
            flex-direction: column;
            .page {
                margin-bottom: 33px;
                font-weight: bold;
            }
        }
        a {
            font-family: $ff;
            color: $light-font;
            text-decoration: none;
            margin-bottom: 13px;
            margin: auto auto 13px;
            width: fit-content;
        }
    }
}
